<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快照管理</title>
    <link href="../../lib/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="../../ico/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<div class="layui-row" style="padding-left: 20px;padding-right: 20px;padding-top: 5px;">
    <div>
        <blockquote id="processinfo" class="site-text layui-elem-quote" style="background-color: #dddddd;">
            <span id="processinfospan"></span>
            <button class="layui-btn layui-btn-primary" style="margin-left: 15px;" onclick="_help.showStackSnap()">保存堆快照</button>
        </blockquote>
    </div>

    <!-- 统计表 -->
    <div class="layui-collapse" id="tableBox" lay-filter="tableBox" style="margin-top: 20px;margin-bottom: 20px;" lay-accordion>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" onclick="_table.classloader()">10分钟内ClassLoader情况</h2>
            <div class="layui-colla-content" style="background-color: #FFFFFF;">
                <table id="classTable"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" onclick="_table.gc()">10分钟内GC情况</h2>
            <div class="layui-colla-content" style="background-color: #FFFFFF;">
                <table id="gcTable"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" onclick="_table.gcutil()">10分钟内GC统计情况(GC Util)</h2>
            <div class="layui-colla-content" style="background-color: #FFFFFF;">
                <table id="gcutilTable"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" onclick="_table.compiler()">10分钟内VM实时编译(JIT)情况</h2>
            <div class="layui-colla-content" style="background-color: #FFFFFF;">
                <table id="compilerTable"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" onclick="_table.compilation()">10分钟内HotSpot编译统计情况</h2>
            <div class="layui-colla-content" style="background-color: #FFFFFF;">
                <table id="compilationTable"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" onclick="_table.stack()">10分钟Thread内统计情况(Stack)</h2>
            <div class="layui-colla-content" style="background-color: #FFFFFF;">
                <table id="stackTable"></table>
            </div>
        </div>
    </div>

    <!-- 进程信息 -->
    <div class="layui-collapse" style="margin-top: 20px;margin-bottom: 20px;" lay-accordion>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" onclick="_help.flags()">JVM参数信息</h2>
            <div id="jvm_flag" class="layui-colla-content" style="background-color: #FFFFFF;">
            </div>
        </div>
    </div>

    <!-- class信息 -->
    <div class="layui-col-md12" style="margin-top: 20px;">
        <blockquote id="classinfo" class="site-text layui-elem-quote" style="background-color: #dddddd;">
            ClassLader信息
            <button class="layui-btn layui-btn-primary" style="margin-left: 15px;" onclick="_help.classInfo()">参数详解</button>
        </blockquote>
    </div>

    <!-- class-->
    <div class="layui-col-md12" style="margin-top: 20px;">
        <div id="classloader" class="layui-col-md4">
            <div id="classloadermain" style="height: 450px;"></div>
        </div>
        <div id="classloadertime" class="layui-col-md4">
            <div id="classloadertimemain" style="height: 450px;"></div>
        </div>
        <div id="classbyte" class="layui-col-md4">
            <div id="classbytemain" style="height: 450px;"></div>
        </div>
    </div>

    <!-- gc信息 -->
    <div class="layui-col-md12" style="margin-top: 20px;">
        <blockquote id="gcinfo" class="site-text layui-elem-quote" style="background-color: #dddddd;">
            GC信息
            <button class="layui-btn layui-btn-primary" style="margin-left: 15px;" onclick="_help.gcInfo()">参数详解</button>
        </blockquote>
    </div>

    <!-- gc -->
    <div class="layui-col-md12" style="margin-top: 25px;">
        <div id="gcsc" class="layui-col-md4">
            <div id="gcscmain" style="height: 450px;"></div>
        </div>
        <div id="gcsu" class="layui-col-md4">
            <div id="gcsumain" style="height: 450px;"></div>
        </div>
        <div id="gce" class="layui-col-md4">
            <div id="gcemain" style="height: 450px;"></div>
        </div>
    </div>

    <div class="layui-col-md12" style="margin-top: 25px;">
        <div id="gco" class="layui-col-md4">
            <div id="gcomain" style="height: 450px;"></div>
        </div>
        <div id="gcm" class="layui-col-md4">
            <div id="gcmmain" style="height: 450px;"></div>
        </div>
        <div id="gcccs" class="layui-col-md4">
            <div id="gcccsmain" style="height: 450px;"></div>
        </div>
    </div>

    <div class="layui-col-md12" style="margin-top: 25px;">
        <div id="gcyfgc" class="layui-col-md4">
            <div id="gcyfgcmain" style="height: 450px;"></div>
        </div>
        <div id="gcyfgct" class="layui-col-md4">
            <div id="gcyfgctmain" style="height: 450px;"></div>
        </div>
        <div id="gcgct" class="layui-col-md4">
            <div id="gcgctmain" style="height: 450px;"></div>
        </div>
    </div>

    <!-- compiler信息 & jstack信息 -->
    <div class="layui-col-md12" style="margin-top: 20px;">
        <div class="layui-col-md4" style="margin-top: 20px;">
            <blockquote id="compilerinfo" class="site-text layui-elem-quote" style="background-color: #dddddd;">
                Compiler信息
                <button class="layui-btn layui-btn-primary" style="margin-left: 15px;" onclick="_help.compilerInfo()">参数详解</button>
            </blockquote>
        </div>
        <div class="layui-col-md8" style="margin-top: 20px;padding-left: 35px;">
            <blockquote id="jstackinfo" class="site-text layui-elem-quote" style="background-color: #dddddd;">
                Jstack信息
                <button class="layui-btn layui-btn-primary" style="margin-left: 15px;" onclick="_help.jstackInfo()">参数详解</button>
                <button class="layui-btn layui-btn-primary" style="margin-left: 15px;" onclick="_help.createThreadSnap()">保存线程快照</button>
            </blockquote>
        </div>
    </div>

    <!-- compiler & jstack -->
    <div class="layui-col-md12" style="margin-top: 25px;">
        <div id="compiler" class="layui-col-md4">
            <div id="compilermain" style="height: 450px;"></div>
        </div>
        <div id="stack" class="layui-col-md8">
            <div id="stackmain" style="height: 450px;"></div>
        </div>
    </div>

    <!-- gcutil信息 -->
    <div class="layui-col-md12" style="margin-top: 40px;">
        <blockquote id="gcutilinfo" class="site-text layui-elem-quote" style="background-color: #dddddd;">
            GC统计信息
            <button class="layui-btn layui-btn-primary" style="margin-left: 15px;" onclick="_help.gcUtilInfo()">参数详解</button>
        </blockquote>
    </div>
    <!-- gcutil -->
    <div class="layui-col-md12" style="margin-top: 25px;">
        <div id="gcutil" class="layui-col-md12">
            <div id="gcutilmain" style="height: 450px;"></div>
        </div>
    </div>


</div>
</body>
<script src="../../lib/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="../../lib/layui/layui.all.js" type="text/javascript"></script>
<script src="../../lib/sockjs.min.js" type="text/javascript"></script>
<script src="../../lib/stomp.min.js" type="text/javascript"></script>
<script src="../../lib/echarts.min.js" type="text/javascript"></script>
<script src="../../js/public/cache.js" type="text/javascript"></script>
<script src="../../js/public/util.js" type="text/javascript"></script>
<script src="../../js/jvm/process.js" type="text/javascript"></script>
</html>