<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JVM管理</title>
    <link href="../../lib/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="../../ico/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<div class="layui-row" style="padding-top: 30px;">
    <div class="layui-col-md4" style="padding-left: 30px;padding-right: 30px;">
        <div class="layui-card">
            <div class="layui-card-header">JAVA_VERSION</div>
            <div class="layui-card-body" style="height: 150px;" id="javaversion"></div>
        </div>
    </div>
    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header">JAVA_HOME</div>
            <div class="layui-card-body" style="height: 150px;" id="javahome"></div>
        </div>
    </div>
    <div class="layui-col-md4" style="padding-left: 30px;padding-right: 30px;">
        <div class="layui-card">
            <div class="layui-card-header">JAVAV_ENDOR</div>
            <div class="layui-card-body" style="height: 150px;" id="javavendor"></div>
        </div>
    </div>
</div>
</body>
<script src="../../lib/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="../../lib/layui/layui.all.js" type="text/javascript"></script>
<script src="../../js/public/cache.js" type="text/javascript"></script>
<script src="../../js/jvm/jvmmain.js" type="text/javascript"></script>
</html>