<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../lib/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="../ico/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<div>
    <blockquote class="layui-elem-quote layui-quote-nm" style="background-color: #FFFFFF;width: 92%;margin-left: 3%">引用区域的文字</blockquote>
    <blockquote class="layui-elem-quote layui-quote-nm" style="background-color: #FFFFFF;width: 92%;margin-left: 3%">引用区域的文字</blockquote>
    <div class="layui-row" style=" width: 94%;margin-left: 3%">
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">卡片面板</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">卡片面板</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">卡片面板</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../lib/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="../lib/layui/layui.all.js" type="text/javascript"></script>
<script src="../lib/sockjs.min.js" type="text/javascript"></script>
<script src="../lib/stomp.min.js" type="text/javascript"></script>
<script src="../js/setting.js" type="text/javascript"></script>
<script type="text/javascript">
    var layer = layui.layer,
    element = layui.element;
</script>
</html>