<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../lib/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/layuip.css" rel="stylesheet" type="text/css"/>
    <link href="../../ico/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<style>
    .layui-card {
        display: none;
    }
</style>
<body>
<div>
    <div class="layui-row">
        <div class="layui-col-md12" style="background-color: #FFFFFF;height: 50px;">
            <div class="layui-col-md6">
                <div class="layui-col-md4 layui-col-sm4 layui-col-lg4" style="padding-top: 15px;padding-left: 20px;">
                    实例名称: <span id="systemName"></span>
                </div>
                <div class="layui-col-md4 layui-col-sm4 layui-col-lg4" style="padding-top: 17px;padding-left: 15px;">
                    IP: <span id="ip"></span>
                </div>
                <div class="layui-col-md4 layui-col-sm4 layui-col-lg4" style="padding-top: 15px;padding-left: 15px;">
                    当前用户: <span id="loginUsers"></span>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-col-md5 layui-col-sm5 layui-col-lg5" style="padding-top: 15px;padding-left: 25px;">
                    系统版本: <span id="systemVersion"></span>
                </div>
                <div class="layui-col-md5 layui-col-sm5 layui-col-lg5" style="padding-top: 15px;">
                    运行时间: <span id="runningTime"></span>
                </div>
                <div class="layui-col-md2 layui-col-sm2 layui-col-lg2" style="padding-top: 15px;">
                    <span id="shutdown" style="padding-right: 25px;cursor: pointer;color: #5FB878;" onclick="_data.shutdown()">关机</span>
                    <span id="reboot" style="padding-right: 25px;cursor: pointer;color: #5FB878;" onclick="_data.reboot()">重启</span>
                </div>
            </div>
        </div>
        <div class="layui-col-md12" style="padding:15px;">
            <div class="layui-card">
                <div id="deviceHeader" class="layui-card-header">设备状态</div>
                <div class="layui-card-body" style="height: 300px;">
                    <div id="summarize">
                        <div id="loadBalance" class="layui-col-md2 layui-col-sm2" style="height: 300px;top: 10px;"></div>
                        <div id="cpu" class="layui-col-md2 layui-col-sm2" style="height: 300px;top: 10px;"></div>
                        <div id="memory" class="layui-col-md2 layui-col-sm2" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12" style="padding: 0 15px 0 15px">
            <div class="layui-col-md6" style="padding-right: 7.5px;">
                <div class="layui-card">
                    <div id="flowHeader" class="layui-card-header">
                        上传流量
                        <!--<button onclick="_data.setUpGranularity()" style="margin-left: 15px;" class="layui-btn layui-btn-normal layui-btn-sm">粒度设置</button>-->
                    </div>
                    <div class="layui-card-body">
                        <div id="upFlow" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6" style="padding-left: 7.5px;">
                <div class="layui-card">
                    <div class="layui-card-header">
                        下载流量
                        <!--<button onclick="_data.setDownGranularity()" style="margin-left: 15px;" class="layui-btn layui-btn-normal layui-btn-sm">粒度设置</button>-->
                    </div>
                    <div class="layui-card-body">
                        <div id="downFlow" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../lib/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="../../lib/layui/layui.all.js" type="text/javascript"></script>
<script src="../../lib/sockjs.min.js" type="text/javascript"></script>
<script src="../../lib/stomp.min.js" type="text/javascript"></script>
<script src="../../lib/echarts.min.js" type="text/javascript"></script>
<script src="../../js/public/cache.js" type="text/javascript"></script>
<script src="../../js/public/util.js" type="text/javascript"></script>
<script src="../../js/system/monitor.js" type="text/javascript"></script>
</html>